<form action="/article_new/apple" method="post">
  <label for="article_title">Article:</label>
  <input type="text" id="article" name="article" value="<%= @article %>" required />
<br>
  <label for="article_url">Url:</label>
  <input type="text" id="article_url" name="article_url" value ="<%= @url %>" required/>
<br>

  <label for="source">Source:</label>
  <input type="text" id="source" name="source" value ="<%= @source %>" required/>
<br>
 <label for="description">Description:</label>
  <input style="height: 75px"type="text" id="description" name="description" value="<%= @description %>" size="100" required/>
<br>
  <input type="submit" />
</form>



