<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Slacker News</title>

    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
        <div class="title">
   <ul class="nav">
    <li>
      <a href="#"><img style="border:1px solid white;" img src="/y18.gif"></a>
    </li>
  <li>
    <a href="#"><strong>Slacker News</strong></a>
  </li>
    <li>
    <a href="/">home |</a>
  </li>
  <li>
    <a href="/article_new">new |</a>
  </li>
  <li>
    <a href="#">comments |</a>
  </li>
  <li>
    <a href="#">ask  |</a>
  </li>
  <li>
    <a href="#">jobs  |</a>
  </li>
  <li>
    <a href="#">submit</a>
  </li>
    <a class="text" href = "#">login</a>
</ul>

</div>


<div class = "wholepage">
<div class = "linkfield">
 <ol class ="nav2">

  <%= yield %>

</ol>
  </div>
     <div class="bot">
   <ul class="nav3">
  <li>
    <a href="#">Lists |</a>
  </li>
  <li>
    <a href="#">RSS |</a>
  </li>
  <li>
    <a href="#">Bookmarklet |</a>
  </li>
  <li>
    <a href="#">Guidelines  |</a>
  </li>
  <li>
    <a href="#">FAQS  |</a>
  </li>
  <li>
    <a href="#">DMCA  |</a>
  </li>
  <li>
    <a href="#">News News  |</a>  </li>
   <li>
    <a href="#">Feature Requests  |</a>
  </li>
  <li>
    <a href="#">Bugs |</a>
  </li>
   <li>
    <a href="#">Y Combinator  |</a>
  </li>
  <li>
    <a href="#">Apply |</a>
  </li>
  <li>
    <a href="#">Library  |</a>
  </li>
   <form>
  <label class="formc">Search:</label>
  <input type="search" name="search">
</form>
</ul>

</div>
</div>
  </body>
</html>
